<h1>Goodbye!</h1>
<p>
Remember: if a = 1 and b = 2, the addition is <%= 1+2 %>
</p>
<p>
	Say <%= link_to "Hello", say_hello_path %> again.
</p>
<% for file in @files %>
<p>file name is: <%= file %> </p>
<% end %>
